<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Su's Cupcakerie</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--adding stripe.js script-->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <!--adding own script-->
    <script>
      $(document).ready(function() {
        console.log("This script is working!");
        Stripe.setPublishableKey('pk_test_NsHguw7Fp2awsJLraOx11DcW');

        var tokenResponseHandler = function(status, response) {
          console.log("Response from Stripe token call:");
          console.log(response);
          // TODO: check for any input validation errors
          // TODO: if there are errors, display them at the top of the form
          // TODO: if there are not errors, add the token info to the form as a hidden field
          // TODO: submit the form
          if (response.error) {
              // Show the errors on the form
              $('#payment-form').text(response.error.message);

              // Re-enable submission
              $("#submit-button").attr('disabled','false');

          } else {
            // find the form
            var $form = $('#payment-form');

            // add a hidden field to the form
            var token = response.id;
            $form.append($('<input type="hidden" name="stripeToken" />').val(token));
            // submit the form
            $form.unbind().submit();
          }
        };

        $('#payment-form').submit(function(event) {
          // pause form submission
          event.preventDefault();

          // prevent the user from submitting twice
          // by disabling the submit button
          $('#submit-button').attr('disabled','disabled');

          console.log("Form submission is paused!");

          Stripe.card.createToken({
            number: $('#card-number').val(),
            cvc: $('#card-CVC').val(),
            exp_month: $('#card-exp-m').val(),
            exp_year: $('#card-exp-y').val(),
          }, tokenResponseHandler);
        });

      });


    </script>
  </head>
  <body>
    <h1>Welcome to Su's Cupcakerie!</h1>
    <h2>Cupcake Flavors</h2>
    <h2>Store Hours and Location</h2>
    <p>M-F: 9am - 5pm</p>

    <h2>Payment Form</h2>
    <p id="payment-error-msg"><!--placeholder for payment errors--></p>
    <form id="payment-form" action="/pay" method="POST">

      <!--listing products-->
      <% @products.each do |product| %>
        <p><input type="radio" name="productId" value=<%= product["id"] %>>
          Flavor: <%= product["description"] %>,
          Price: <%= product["price"] %>cents
        </p>
      <% end %>

      <!--adding form fields-->
      <p><input type="text" name="email" placeholder="email"></p>
      <p><input id="card-number" type="text" placeholder="card number"></p>
      <p><input id="card-exp-m" type="text" placeholder="MM"></p>
      <p><input id="card-exp-y" type="text" placeholder="YY"></p>
      <p><input id="card-CVC" type="text" placeholder="CVC"></p>
      <button id="submit-button" type="submit">Pay now</button>
    </form>

  </body>
</html>
