<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Su's Cupcakerie</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--adding stripe.js script-->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <!--adding own script-->
    <script>
      $(document).ready(function() {
        console.log("This script is working!");
        Stripe.setPublishableKey('pk_test_NsHguw7Fp2awsJLraOx11DcW');
      });
    </script>
  </head>
  <body>
    <h1>Welcome to Su's Cupcakerie!</h1>
    <h2>Cupcake Flavors</h2>
    <h2>Store Hours and Location</h2>
    <p>M-F: 9am - 5pm</p>

    <h2>Payment Form</h2>
    <p id="payment-error-msg"><!--placeholder for payment errors--></p>
    <form id="payment-form" action="/pay" method="POST">

      <!--listing products-->
      <% @products.each do |product| %>
        <p><input type="radio" name="productId" value=<%= product["id"] %>>
          Flavor: <%= product["description"] %>,
          Price: <%= product["price"] %>cents
        </p>
      <% end %>

      <!--adding form fields-->
      <p><input type="text" name="email" placeholder="email"></p>
      <p><input id="card-number" type="text" placeholder="card number"></p>
      <p><input id="card-exp-m" type="text" placeholder="MM"></p>
      <p><input id="card-exp-y" type="text" placeholder="YY"></p>
      <p><input id="card-CVC" type="text" placeholder="CVC"></p>
      <button id="submit-button" type="submit">Pay now</button>
    </form>

  </body>
</html>
